src/main/java/org/soap/proxy/reservations/reservations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.reservation.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.reservation.org/" name="ReservationWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.reservation.org/" schemaLocation="http://localhost:8088/reservations?xsd=1"/>
</xsd:schema>
</types>
<message name="getReservation">
<part name="parameters" element="tns:getReservation"/>
</message>
<message name="getReservationResponse">
<part name="parameters" element="tns:getReservationResponse"/>
</message>
<message name="addReservation">
<part name="parameters" element="tns:addReservation"/>
</message>
<message name="addReservationResponse">
<part name="parameters" element="tns:addReservationResponse"/>
</message>
<message name="getAllReservations">
<part name="parameters" element="tns:getAllReservations"/>
</message>
<message name="getAllReservationsResponse">
<part name="parameters" element="tns:getAllReservationsResponse"/>
</message>
<portType name="Reservations">
<operation name="getReservation">
<input wsam:Action="http://server.reservation.org/Reservations/getReservationRequest" message="tns:getReservation"/>
<output wsam:Action="http://server.reservation.org/Reservations/getReservationResponse" message="tns:getReservationResponse"/>
</operation>
<operation name="addReservation">
<input wsam:Action="http://server.reservation.org/Reservations/addReservationRequest" message="tns:addReservation"/>
<output wsam:Action="http://server.reservation.org/Reservations/addReservationResponse" message="tns:addReservationResponse"/>
</operation>
<operation name="getAllReservations">
<input wsam:Action="http://server.reservation.org/Reservations/getAllReservationsRequest" message="tns:getAllReservations"/>
<output wsam:Action="http://server.reservation.org/Reservations/getAllReservationsResponse" message="tns:getAllReservationsResponse"/>
</operation>
</portType>
<binding name="ReservationsPortBinding" type="tns:Reservations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationWebServiceService">
<port name="ReservationsPort" binding="tns:ReservationsPortBinding">
<soap:address location="http://localhost:8088/reservations"/>
</port>
</service>
</definitions>