src/main/java/org/soap/proxy/books/books1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.reservation.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.reservation.org/" name="BookWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.reservation.org/" schemaLocation="http://localhost:8088/books?xsd=1"/>
</xsd:schema>
</types>
<message name="getBook">
<part name="parameters" element="tns:getBook"/>
</message>
<message name="getBookResponse">
<part name="parameters" element="tns:getBookResponse"/>
</message>
<message name="getAllBooks">
<part name="parameters" element="tns:getAllBooks"/>
</message>
<message name="getAllBooksResponse">
<part name="parameters" element="tns:getAllBooksResponse"/>
</message>
<message name="deleteBook">
<part name="parameters" element="tns:deleteBook"/>
</message>
<message name="deleteBookResponse">
<part name="parameters" element="tns:deleteBookResponse"/>
</message>
<message name="updateBook">
<part name="parameters" element="tns:updateBook"/>
</message>
<message name="updateBookResponse">
<part name="parameters" element="tns:updateBookResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<portType name="Books">
<operation name="getBook">
<input wsam:Action="http://server.reservation.org/Books/getBookRequest" message="tns:getBook"/>
<output wsam:Action="http://server.reservation.org/Books/getBookResponse" message="tns:getBookResponse"/>
</operation>
<operation name="getAllBooks">
<input wsam:Action="http://server.reservation.org/Books/getAllBooksRequest" message="tns:getAllBooks"/>
<output wsam:Action="http://server.reservation.org/Books/getAllBooksResponse" message="tns:getAllBooksResponse"/>
</operation>
<operation name="deleteBook">
<input wsam:Action="http://server.reservation.org/Books/deleteBookRequest" message="tns:deleteBook"/>
<output wsam:Action="http://server.reservation.org/Books/deleteBookResponse" message="tns:deleteBookResponse"/>
</operation>
<operation name="updateBook">
<input wsam:Action="http://server.reservation.org/Books/updateBookRequest" message="tns:updateBook"/>
<output wsam:Action="http://server.reservation.org/Books/updateBookResponse" message="tns:updateBookResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://server.reservation.org/Books/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://server.reservation.org/Books/addBookResponse" message="tns:addBookResponse"/>
</operation>
</portType>
<binding name="BooksPortBinding" type="tns:Books">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BookWebServiceService">
<port name="BooksPort" binding="tns:BooksPortBinding">
<soap:address location="http://localhost:8088/books"/>
</port>
</service>
</definitions>