src/main/java/org/soap/proxy/users/users.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.reservation.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.reservation.org/" name="UserWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.reservation.org/" schemaLocation="http://localhost:8088/users?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<portType name="Users">
<operation name="getAllUsers">
<input wsam:Action="http://server.reservation.org/Users/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://server.reservation.org/Users/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://server.reservation.org/Users/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://server.reservation.org/Users/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://server.reservation.org/Users/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://server.reservation.org/Users/addUserResponse" message="tns:addUserResponse"/>
</operation>
</portType>
<binding name="UsersPortBinding" type="tns:Users">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWebServiceService">
<port name="UsersPort" binding="tns:UsersPortBinding">
<soap:address location="http://localhost:8088/users"/>
</port>
</service>
</definitions>